html, body, ul, p, li, h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

body{
	background-color: #f8ecc2;
	font-family: Arial, sans-serif;
	color: #fff;
}

.button{
	display: inline-block;
	background-color: #63b4c9;
	padding: 20px 50px;
	margin-top: 70px;
}

.tooltip{
	position: fixed;
	display: block;
	top: 0;
	width: 400px;
	background-color: #e7552c;
	padding: 10px;

}



