html, body, ul, p, li, h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f8ecc2;
	font-family: Arial, sans-serif;
}

header{
	width: 100%;
}

nav{
	width: 100%;
	background: #e9e9e9;
	margin: 0 0 10px 0;
}

.margin{
	margin-bottom: 10px;
}

nav li{
	display: inline-block;
	padding: 20px;
}

nav li:hover{
	background: #fff;
}

.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.shadow{
	box-shadow: 0px 7px 17px -2px rgba(117,117,117,1);
}

